.benefits__list {
  display: flex;
}
.benefits__item {
  flex-basis: calc(100% / 4);
  &:not(:first-child) {
    margin-left: 30px;
  }
}

.benefits__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.icon-container {
  display: flex;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.benefits__icon {
  width: 70px;
  height: 70px;
}
