.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__container a {
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  letter-spacing: 0.03em;
  font-family: Raleway, sans-serif;
  color: var(--title-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-blue {
  color: var(--accent-color);
}
.menu {
  display: flex;
  margin-left: 95px;
}
.menu__list {
  .menu &:not(:first-child) {
    margin-left: 50px;
  }
}

.menu__item {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
  transition: color 250ms var(--transition-cubic);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu__item--active::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: -7px;
  width: 100%;
  background-color: var(--accent-color);
  height: 4px;
  border-radius: 2px;
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contacts .contacts__list:not(:first-child) {
  margin-left: 30px;
}

.contacts__item {
  display: flex;
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
  align-items: center;
  transition: color 250ms var(--transition-cubic);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
