body {
  font-family: Roboto, sans-serif;
  color: #757575;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
}

.link {
  text-decoration: none;
  font-style: normal;
}
.list {
  list-style: none;
}

.title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
